Node-red_server_configuration.json
[
    {
        "id": "e0df85f873a69ea3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e50730accf9af095",
        "type": "debug",
        "z": "e0df85f873a69ea3",
        "name": "PLUSIVO",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "a4ee4f87b594f41c",
        "type": "ui_gauge",
        "z": "e0df85f873a69ea3",
        "name": "",
        "group": "c207a73ab84980b0",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge_Plusivo",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "2eb7f6f632e31084",
        "type": "ui_chart",
        "z": "e0df85f873a69ea3",
        "name": "",
        "group": "c207a73ab84980b0",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Chart_Plusivo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 400,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8a6f7b9562dbece9",
        "type": "mqtt in",
        "z": "e0df85f873a69ea3",
        "name": "",
        "topic": "esp/hall",
        "qos": "0",
        "datatype": "auto",
        "broker": "8b540fe2e0e8e5cb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "e50730accf9af095",
                "a4ee4f87b594f41c",
                "2eb7f6f632e31084"
            ]
        ]
    },
    {
        "id": "ae630a75898ea535",
        "type": "debug",
        "z": "e0df85f873a69ea3",
        "name": "Board_2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 220,
        "wires": []
    },
    {
        "id": "07babac43a6ddab5",
        "type": "ui_gauge",
        "z": "e0df85f873a69ea3",
        "name": "",
        "group": "96bdbf31dd9a4b02",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Gauge_2",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "99b12537e1b9831b",
        "type": "ui_chart",
        "z": "e0df85f873a69ea3",
        "name": "",
        "group": "96bdbf31dd9a4b02",
        "order": 17,
        "width": 11,
        "height": 4,
        "label": "Chart_2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "761b56a015f6a97c",
        "type": "mqtt in",
        "z": "e0df85f873a69ea3",
        "name": "",
        "topic": "esp/otagh2",
        "qos": "0",
        "datatype": "auto",
        "broker": "8b540fe2e0e8e5cb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "ae630a75898ea535",
                "07babac43a6ddab5",
                "99b12537e1b9831b"
            ]
        ]
    },
    {
        "id": "3428f00acded6a66",
        "type": "debug",
        "z": "e0df85f873a69ea3",
        "name": "Board_3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 360,
        "wires": []
    },
    {
        "id": "ec67c04f195522e1",
        "type": "ui_gauge",
        "z": "e0df85f873a69ea3",
        "name": "",
        "group": "96bdbf31dd9a4b02",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "wave",
        "title": "Gauge_3",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "d5617f1f853b3d5e",
        "type": "ui_chart",
        "z": "e0df85f873a69ea3",
        "name": "",
        "group": "96bdbf31dd9a4b02",
        "order": 16,
        "width": 12,
        "height": 4,
        "label": "Chart_3",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "f8bdf76deef3b230",
        "type": "mqtt in",
        "z": "e0df85f873a69ea3",
        "name": "",
        "topic": "esp/otagh3",
        "qos": "0",
        "datatype": "auto",
        "broker": "8b540fe2e0e8e5cb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "3428f00acded6a66",
                "ec67c04f195522e1",
                "d5617f1f853b3d5e"
            ]
        ]
    },
    {
        "id": "8399e87bfd93eef8",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 9,
        "height": 1
    },
    {
        "id": "c8c36fb4a8e8689c",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 9,
        "height": 1
    },
    {
        "id": "0f08e7f7f0cd0af3",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 9,
        "height": 1
    },
    {
        "id": "ec05175d49b222a2",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 9,
        "height": 1
    },
    {
        "id": "4e2bf5a8d0bf92f7",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 9,
        "height": 1
    },
    {
        "id": "3d9792d2cfc2102d",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 9,
        "height": 1
    },
    {
        "id": "10a1912b4dc53780",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 9,
        "height": 1
    },
    {
        "id": "c79d5ecec00fbb1a",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 9,
        "height": 1
    },
    {
        "id": "f74940b53262d8e7",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 9,
        "height": 1
    },
    {
        "id": "3ac4e466bc575a49",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 9,
        "height": 1
    },
    {
        "id": "69dcd08e08194a50",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 4,
        "height": 1
    },
    {
        "id": "ec799d01f0146ee7",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 7,
        "height": 1
    },
    {
        "id": "805487ad9aec8bd7",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 7,
        "height": 1
    },
    {
        "id": "7dc6116f49f36680",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "e739826c8b57c048",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 7,
        "height": 1
    },
    {
        "id": "e4b57189c446377a",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 7,
        "height": 1
    },
    {
        "id": "a33742ae7f69ab2e",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "389c211604f89898",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 7,
        "height": 1
    },
    {
        "id": "0ec3bad3351cfbfd",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 7,
        "height": 1
    },
    {
        "id": "4a6dadffffecdab4",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 12,
        "width": 4,
        "height": 1
    },
    {
        "id": "24f1b9887b0e7d43",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 13,
        "width": 7,
        "height": 1
    },
    {
        "id": "12b37d38fa0a21cd",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 14,
        "width": 7,
        "height": 1
    },
    {
        "id": "c212779e23777a41",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "58075746928a2701",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 17,
        "width": 3,
        "height": 1
    },
    {
        "id": "7370811e31d06746",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 19,
        "width": 5,
        "height": 1
    },
    {
        "id": "257dc3693c4605cd",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "af2161e56fee80b6",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 21,
        "width": 3,
        "height": 1
    },
    {
        "id": "d9bd7172673007fb",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 22,
        "width": 5,
        "height": 1
    },
    {
        "id": "b506541b259c3304",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "27b980e0773b1089",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 24,
        "width": 3,
        "height": 1
    },
    {
        "id": "611f4feecdf0da13",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 25,
        "width": 5,
        "height": 1
    },
    {
        "id": "46c029b48500fd99",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 26,
        "width": 2,
        "height": 1
    },
    {
        "id": "c6e83d33b9c1e219",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 27,
        "width": 3,
        "height": 1
    },
    {
        "id": "f71fc5665c5c2d6c",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 28,
        "width": 5,
        "height": 1
    },
    {
        "id": "4039a1f89cb04b66",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 29,
        "width": 2,
        "height": 1
    },
    {
        "id": "d2d8c69a73cd5c84",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 30,
        "width": 3,
        "height": 1
    },
    {
        "id": "26411487c7a2f146",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 31,
        "width": 5,
        "height": 1
    },
    {
        "id": "0b8b170a6a21b288",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 32,
        "width": 2,
        "height": 1
    },
    {
        "id": "c42c7eb4715d1eb8",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 33,
        "width": 3,
        "height": 1
    },
    {
        "id": "985ec3cfef768dc4",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 34,
        "width": 5,
        "height": 1
    },
    {
        "id": "cec15a9afdabbad7",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "6411c96bb49663e7",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 5,
        "height": 1
    },
    {
        "id": "8d3a46d8943527ac",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "cd351dc08c6fd8c2",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "1c920051537cb713",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "275f83b2f11c4b90",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "c08e2a7a926443e8",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "e8f012acb6edc8b1",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 5,
        "height": 1
    },
    {
        "id": "3ccfbd18317e7422",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "447a368b51e3e214",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "76c493c230db72ad",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 13,
        "width": 5,
        "height": 1
    },
    {
        "id": "b5662957526197b7",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 14,
        "width": 3,
        "height": 1
    },
    {
        "id": "9bb2c849daa465ba",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "b19f28815cf2c2fe",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 16,
        "width": 5,
        "height": 1
    },
    {
        "id": "0b0aa511ccafd574",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 17,
        "width": 3,
        "height": 1
    },
    {
        "id": "d44262749fedbb62",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "5a3d284004b8ddc4",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 19,
        "width": 5,
        "height": 1
    },
    {
        "id": "31a1f22650d5190e",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 20,
        "width": 3,
        "height": 1
    },
    {
        "id": "e4637dd68422f253",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "c4e8da0be4cbb3bc",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "e9f3c5736f04aa61",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "c6d93957ce66da11",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "6d831bfe54f3346e",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "849aa1cfc5642df1",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "0812f95719e26508",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "1c209e048645821a",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "030f24dcb1731b06",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "ab1cbb918e6f4dfc",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "cfdf0dfb8082ec08",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "96bdbf31dd9a4b02",
        "order": 1,
        "width": 4,
        "height": 1
    },
    {
        "id": "fca4c77a7ec5586e",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "96bdbf31dd9a4b02",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "45e231ea0a512054",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "96bdbf31dd9a4b02",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "2ba3de8b354da3e5",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "96bdbf31dd9a4b02",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "6399166a4b441299",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "96bdbf31dd9a4b02",
        "order": 7,
        "width": 8,
        "height": 1
    },
    {
        "id": "786241f568836d5d",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "96bdbf31dd9a4b02",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "d391bbd4bde6d05b",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "96bdbf31dd9a4b02",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "b5d30a6e871c145c",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "96bdbf31dd9a4b02",
        "order": 10,
        "width": 8,
        "height": 1
    },
    {
        "id": "b2e0ab5096822bb5",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "96bdbf31dd9a4b02",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "f64056b53b1d1109",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "96bdbf31dd9a4b02",
        "order": 12,
        "width": 4,
        "height": 1
    },
    {
        "id": "05b96f48895ca6f2",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "96bdbf31dd9a4b02",
        "order": 13,
        "width": 8,
        "height": 1
    },
    {
        "id": "ab8b509250d794f9",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "96bdbf31dd9a4b02",
        "order": 14,
        "width": 3,
        "height": 1
    },
    {
        "id": "bcb7e4d9bbde2073",
        "type": "ui_spacer",
        "z": "e0df85f873a69ea3",
        "name": "spacer",
        "group": "96bdbf31dd9a4b02",
        "order": 15,
        "width": 23,
        "height": 1
    },
    {
        "id": "c207a73ab84980b0",
        "type": "ui_group",
        "name": "Home",
        "tab": "1909062f886f0b4f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b540fe2e0e8e5cb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "esp/hall",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "2",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "96bdbf31dd9a4b02",
        "type": "ui_group",
        "name": "Otagh",
        "tab": "0a469284f84e16f2",
        "order": 1,
        "disp": true,
        "width": "23",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1909062f886f0b4f",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "0a469284f84e16f2",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    }
]